*
{margin: 0px;
border: 0px;
padding: 0px;}

html
{font-size: 62.5%;
font-family: 'Fredoka One', cursive;}

body
{background-color: rgb(231, 231, 231);}

a
{text-decoration: none;
font-family: 'Times New Roman', Times, serif;
color: black;
font-size: 2.2rem;
font-weight: bold;}

.container1
{display: flex;
width: 80%;
margin: 0 auto;
padding-top: 150px;}

.container1 div
{width: 50%;
height: 50vh;
position: relative;}

.box1
{background-color: rgba(225, 222, 208, 0.902);
display: flex;}

.traço-cinza-PDF
{height: 1px;
width: 50%;
margin-left: 20%;
margin-bottom: 20px;
margin-top: 20px;
background-color: gray;}

.works div
{width: 100%;}

.works a
{margin-left: 20%;}

.works div img
{width: 50px;
height: 50px;
margin: 20px;
margin-left: 20%;}

.works div a:hover
{color: rgba(252, 180, 192, 0.887);
transition: ease-in-out 250ms;}

.perfil
{position: absolute;
width: 50%;
text-align: center;
box-shadow: -5px -0px 15px rgb(173, 173, 173);}

.perfil img
{width: 70%;
height: auto;
margin-top: 20px;
border-radius: 1000px;}

.perfil h2
{font-size: 3.5rem;
font-family: 'Times New Roman', Times, serif;
margin: 20px;}

.perfil span
{font-family: arial;
font-weight: 100;
font-size: 1.8rem;}

.perfil div
{width: 100%;
height: 50px;
background-color: white;
position: relative;}

.traço-cinza
{height: 1px;
width: 50%;
margin: 0 auto;
margin-bottom: 20px;
margin-top: 20px;
background-color: gray;}

#linkedin
{width: 25px;
height: 25px;
border-radius: 0px;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;}

.box2 h1
{font-size: 8rem;
font-weight: bold;
font-family: 'Times New Roman', Times, serif;
padding-left: 60px;}

#apresentação
{font-size: 2.2rem;
font-family: arial;
font-weight: 200;
padding-left: 60px;
width: 50%;
color: rgb(60, 60, 60);}

.box2 button
{font-size: 1.6rem;
padding: 10px;
border-radius: 25px;
margin-left: 60px;
width: 20%;
background-color: rgb(231, 231, 231);;
border: 1px solid black;
cursor: pointer;}

.box2 button:hover
{background-color: black;
color: white;
transition: 550ms;}

.box2 p
{color: rgb(60, 60, 60);
margin-left: 60px;
font-size: 2.2rem;
width: 80%;
font-family: arial;
font-weight: 200;}

footer
{width: 50%;
margin: 0 auto;
margin-top: 50px;
text-align: center;}

footer p
{font-size: 1.6rem;
font-weight: 100;
font-family: arial;}

footer img
{width: 50%;
height: auto;
margin: 0 auto;}

footer div
{text-align: center;
display: flex;
width: 10%;
margin: 0 auto;}
