@media screen and (max-width: 500px) {

.container1
{flex-direction: column;
width: 100%;
margin-top: -100px;}

.container1 div
{width: 100%;}

.perfil h2
{font-size: 2.5rem;}

.perfil span
{font-size: 1.2rem;
margin-bottom: 50px;}

a
{font-size: 1.6rem;}

.works div
{margin-top: -30px;}





.box2 h1
{font-size: 6rem;
margin-bottom: 20px;
margin-top: 50px;
margin-left: -30px;
width: 100%;}

.box2 h2
{font-size: 2rem;
margin-left: -30px;
width: 80%;}

.box2 p
{font-size: 1.6rem;
text-align: justify;
margin-left: 25px;
width: 90%;}

.box2 button
{width: 40%;
margin-left: 30px;}

footer
{margin-top: 100px;
margin-bottom: 50px;
width: 80%;}

footer div
{width: 30%}



}

/*celulares menores*/
@media screen and (max-height: 660px){

    footer
    {margin-top: 150px;}

    .box2 p
    {font-size: 1.4rem;}

}

/*Notebooks*/

@media screen and (min-width: 1200px){


.box2 h1
{font-size: 6.5rem;}

.box2 h2
{font-size: 2rem;}

.box2 p
{font-size: 1.8rem;}

footer
{margin-top: 100px;}

}